.card3 {
  width: 500px;
  border: 2px solid #a1aab9;
  border-radius: 10px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.articles {
  font-size: 10px;
}

.number1 {
  font-weight: 500;
}

.followers {
  font-size: 10px;
}

.number2 {
  font-weight: 500;
}

.rating {
  font-size: 10px;
}

.number3 {
  font-weight: 500;
}
.image {
  width: 500px;
}
