.p-menuitem {
  background-color: transparent !important;
}
.p-panelmenu-content {
  background-color: transparent !important;
  border: none !important;
}
.p-panelmenu-header > a {
  background-color: transparent !important;
  border: none !important;
}

.p-panelmenu-header > a:hover {
  background-color: transparent !important;
  border: none !important;
}
.p-submenu-list {
  background-color: transparent !important;
}
.p-panelmenu-content {
  background-color: transparent !important;
}
.p-panelmenu {
  background-color: transparent !important;
}
.p-menuitem-text {
  /*outside text*/
  color: #FFFFFF !important;
}
.p-menuitem-icon {
  /*outside icon*/
  color: #FFFFFF !important;
}
.p-panelmenu-icon {
  color: #FFFFFF !important;
}
